@import './partiales/variable/variable.scss';

* {

  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;

}

.navbar {
  color: $fornt-color;
  background-color: $base-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  padding: 1.5rem 5.8rem;
  gap: 1.5rem;

  &__header {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: $fornt-color;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
  }

  &__item {
    margin-left: 2rem;
  }

  &__link {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 19px;

    &:hover {
      // color: #aaa; 
      // text-decoration: underline;
      border-bottom: 2px solid white;
      padding-bottom: 27px;
    }

  }


  &__link--active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: white;
    width: auto;
  }


}

.banner {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10%;
}

.photo__image {

  &__header {
    text-align: left;
    font-size: 36px;
    color: #333;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  &__alig {
    display: flex;
    flex-wrap: wrap;
    
    gap: 1rem;

  }

  &__value {
    max-width: calc(33.333% - 1rem);
    height: auto;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }

  }


}



.image__para {
  // text-align: center; 
  // max-width: 800px; 
  margin: auto;
  padding: 1rem 5rem;

  &__heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
    text-align: left;
  }

  &__image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.6;

    &__2 {
      display: block;
      text-align: left;
      color: #333;
      font-style: italic;
      margin-top: 0.5rem;
    }
  }
}
.band__info {
  // max-width: 800px;
  margin: auto;
  padding: 1rem 5rem;

  &__heading {
    font-size: 24px;
    color: #333;
    margin-bottom: .8rem;
    text-align: left;
    font-weight: 400;
  }

  &__content {
    // max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    gap: 14px  ;

  }

  &__text {
    font-size: 14px; 
    color: #666;
    line-height: 1.6;
    text-align: left;
    
    

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main__para{
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    &__heading{
      font-size: 36px;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
    }
}
.main__para__section{
  text-align: center;
  max-width: 800px;
}


.footer {
  background: #000;
  color: #fff; 
  padding: 2rem 0; 

  &__title{
    text-align: left;
    font-size: 36px;
    font-weight: 400;
  }

  &__section {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0; 
    }
    &__social{
      display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: flex-end;
    }

  }


  &__contact-icons {
    display: flex;
    gap: 3rem; 

    &__icon {
      height: 1.5rem; 
      width: auto;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__contact-info {
    &__name, &__address, &__email {
      margin-bottom: 0.5rem; 
    }
  }

  &__brand, &__copyright {
    text-align: center;
    width: 100%;
  }
}

