@import './partiales/variable/variable.scss';
@import './partiales/variable/mixin.scss';

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;

}

.navbar {
  color: $White;
  background-color: $BandSite-Black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  padding: 1.5rem 5.8rem;
  gap: 1.5rem;

  @include respond-to('phone') {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }


  &__header {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: $White;
    @include respond-to('phone') {
      font-size: 36px;
    }
  }

  &__list {
    @include respond-to('phone') {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  
    }
  }

  &__item {
    margin-left: 2rem;
    @include respond-to('phone') {
      // margin-right: 2rem;
    }
  }

  &__link {
    color: $White;
    text-decoration: none;
    position: relative;
    padding-bottom: 19px;
    font-size: 14px;
    font-weight: 300;
    @include respond-to('phone') {
      padding-bottom: 15px;
      padding-left: 25%;
      padding-right: 25%;
      margin-left: 0px;
    }

    &:hover {
      border-bottom: 2px solid $White;
      padding-bottom: 27px;
    }

  }


  &__link--active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: $White;
    width: auto;
    @include respond-to('phone') {
      bottom: -1px;
    }
  }




}

.banner {
  background-image: url('../assets/Images/hero-bio.jpg'); 
  background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
&__header{
  color: $White;
  padding-left: 80px;
  font-size: 60px;
  font-weight: 400;

  @include respond-to('phone') {
    font-size: 36px;
    padding-left: 16px;
  }
  }
 
}




.photo__image {

  &__header {
    text-align: left;
    font-size: 36px;
    color: #333;
    margin-bottom: 2rem;
    font-weight: 400;
    @include respond-to('phone'){
      padding-left: 16px;
      padding-right: 16px;
  }
    }
  

  &__alig {
    display: flex;
    flex-wrap: wrap;
    
    gap: 1rem;
    @include respond-to('phone'){
      padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    padding-bottom: 24px;
  }

  }

  &__value {
    max-width: calc(33.333% - 1rem);
    height: auto;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
    @include respond-to('phone'){
      max-width: calc(100%);
  }


  }


}



.image__para {
  margin: auto;
  padding: 1rem 5rem;
  @include respond-to ('phone'){
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
  }
  @include respond-to ('tablet'){
    padding-left: 36px;
    padding-right: 36px;
  }

  &__heading {
    font-size: 2.5rem;
    color: $BandSite-Black;
    margin-bottom: 2rem;
    text-align: left;
  }

  &__image {
    width: 100%;
    min-width: 85vh;
    height: auto;
    margin-bottom: 1.5rem;
    @include respond-to('phone'){
      min-width: calc(50% - 1rem);
    }
  }

  &__text {
    font-size: 24px;
    color: $BandSite-Black;
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: left;
    

    &__2 {
      display: block;
      text-align: left;
      color: $BandSite-Black;
      font-size: 14px;
      font-weight: 600;

      margin-top: 0.7rem;
      @include respond-to('phone'){
        font-size: 24px;
    font-weight: 400;

      }
    }
  }
}
.band__info {
  // max-width: 800px;
  margin: auto;
  padding: 1rem 5rem;
  @include respond-to('phone'){
    padding-left: 16px;
    padding-right: 16px;

  }
  @include respond-to('tablet'){
    padding-left: 36px;
    padding-right: 36px;
  }

  &__heading {
    font-size: 24px;
    color: $BandSite-Black;
    margin-bottom: .8rem;
    text-align: left;
    font-weight: 400;
    @include respond-to('phone'){
      font-weight: 300;
    }
  }

  &__content {
    // max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    gap: 14px  ;
    @include respond-to('phone'){
      flex-direction: column;
    }

  }

  &__text {
    font-size: 14px; 
    color: $BandSite-Black;
    line-height: 1.6;
    text-align: left;
    
    

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main__para{
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    &__heading{
      font-size: 36px;
      color: $BandSite-Black;
      margin-bottom: 1.5rem;
      font-weight: 500;
      margin-top: 1.5rem;
      padding-left: 80px;

      @include respond-to('phone'){
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 16px;
        margin: 0px;
      }
      @include respond-to('tablet'){
        padding-left: 36px;
        padding-right: 36px;
      }
    }
}
.main__para__section{
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px;
  @include respond-to('phone'){
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px
  }
  @include respond-to('tablet'){
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px
  }

}

// footer
.footer {
  background: $BandSite-Black;
  color: $White;
  padding: 2rem 0;
  padding-left: 80px;
  padding-right: 80px;
  @include respond-to('phone'){
    padding-left: 16px;
    padding-right: 16px;
}
@include respond-to('tablet'){
  padding-left: 36px;
  padding-right: 36px;
}
  
  

  &__part{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__title {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
  }

  &__section {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }

    &__social {
      display: flex;
      justify-content: space-evenly;
      gap: 63px;
      align-items: center;
      @include respond-to('phone'){
        flex-direction: column;
        gap: 24px;
        align-items: normal;
    }
    }
    &___text{
      font-size: 24px;
      font-weight: 300;
  
    }

  }


  &__contact-icons {
    display: flex;
    gap: 3rem;

    &__icon {
      height: 1.5rem;
      width: auto;
      transition: opacity 0.3s ease;

   
    }
    &__value{
      min-height: 12px;
    height: 25px;
    @include respond-to('phone'){
      min-width: calc(150%);
      height: auto;
  }
    }

  }



  


  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 63px;
    padding-top: 40px;
    @include respond-to('phone'){
gap:0px;
    }
    @include respond-to('tablet'){
      gap:24px;
    }

    &__value {
      margin-bottom: 2rem; 

      &:last-child {
        margin-bottom: 0; 
      }
    }
    &__text{
      font-size: 14px;
      font-weight: 300;
      span{
      display: block;
    }
  }
  &__alig{
    padding-bottom: 20px;
  }

}
  }
